body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login-content {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #00000080), 
    url('../img/backgroundGili.png') no-repeat center center;/* Ganti dengan path gambar Anda */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: linear-gradient(to right, rgb(168, 168, 168), rgb(251, 251, 251));
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.card h2 {
    text-align: center;
    color: #343a40;
    margin-bottom: 20px;
    font-weight: bold;
}

.card label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}



.card input[type="text"], 
.card input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    background-color: rgb(96, 117, 125);
    color: white;
}

.card button {
    width: 49%;
    padding: 10px;
    margin-top: 15px;
    background-color:  rgb(96, 117, 125);;
    border: none;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

.card button:hover {
    background-color: #040506;
}

.card a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}


