body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: white;
}

/* Navbar Links Centered */
.navbar-nav {
    display: flex;
    justify-content: center; /* Pusatkan elemen dalam ul */
    align-items: center; /* Rata tengah vertikal */
    margin: 0 auto; /* Pusatkan navbar-nav dalam navbar */
}

/* Warna default tautan navbar */
.navbar-nav .nav-link {
    color: white; /* Warna awal */
    font-size: 1rem;
    margin: 0 15px; /* Spasi antar item */
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; /* Transisi animasi halus */
}

/* Warna biru saat tautan di-hover */
.navbar-nav .nav-link:hover {
    background-color: #1e90ff; /* Biru terang saat hover */
    color: white; /* Tetap putih agar kontras */
    border-radius: 5px; /* Efek sudut membulat */
    padding: 5px 10px; /* Tambahkan padding ekstra */
}

/* Tautan aktif */
.navbar-nav .nav-link.active {
    color: #1e90ff; /* Warna biru terang untuk tautan aktif */
    font-weight: bold; /* Teks tebal */
}

/* Styling logo */
.logo img {
    height: 40px; /* Sesuaikan tinggi logo */
    width: auto; /* Jaga proporsi gambar */
    margin-right: 10px; /* Jarak antara logo dan teks */
}

.navbar .logo {
    display: flex;
    align-items: center; /* Logo di tengah vertikal */
}

/* Hero Section Styling */
.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #00000080), 
    url('../img/backgroundGili.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}
.hero-section h1, .hero-section h3 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.hero-section .form-buttons {
    display: inline-flex;
    justify-content: center; 
    padding: 0; 
    margin: 0; 
}

.hero-section button {
    border: none;
    padding: 10px 10px;
    margin: 10px;
    font-size: 1rem;
}

.hero-section button:hover {
    color: rgb(0, 119, 255); /* Warna saat hover (opsional) */
}


@media (max-width: 768px) {
    .hero-section, .content-section {
        height: auto;
        padding: 30px 10px; /* Kurangi padding untuk layar kecil */
    }
    .hero-section h1, .content-section h2 {
        font-size: 1.5rem;
    }
}